#gameContainer {
  position: relative;
}

.boxes {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  height: 80vh;
  width: 80vh;
  max-height: 80vh;
  max-width: 80vh;
  border-radius: 6px;
}

.box {
  border: black 1px solid;
}
